<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-links login" href="/login">Login</a>
      <a class="navbar-links signUp" href="/sign-up">Sign Up</a>
      <a class="navbar-links logout" href="/logout">Logout</a>
      <a class="navbar-links home" href="/">Home</a>
    </nav>
    <div class="container">{% block content%} {% endblock %}</div>

    <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
